### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [215]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [216]:
player_ct = len(purchase_data["SN"].value_counts())

player_ct_df = pd.DataFrame({"Total Players": [player_ct]})
player_ct_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [217]:
Analysis_table = pd.DataFrame({"Number of Unique Items": [len(purchase_data["Item ID"].value_counts())],
                                "Average Price": [purchase_data["Price"].mean()] ,
                              "Total Purchases": [purchase_data["Purchase ID"].count()],
                              "Total Revenue":[purchase_data["Price"].sum()]})

Analysis_table.style.format({'Average Price':"${:,.2f}", 'Total Purchases':"{:,}",'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [225]:
gender_group = purchase_data.groupby(['Gender'])

gender_ct = gender_group.nunique()["SN"]

gender_demo = pd.DataFrame({"Total Count": gender_ct, "Percentage of Players": (gender_count / player_ct *100)})

gender_demo.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [240]:
purchase_ct = gender_group["Purchase ID"].count() 

purchasing_analysis = pd.DataFrame({"Purchase Count": purchase_ct,
                            "Average Purchasing Price": (gender_group["Price"].mean()),
                             "Total Purchase Value": (gender_group["Price"].sum()),
                             "Average Total Purchase / Person": (purchase_value / gender_ct)})

purchasing_analysis.sort_values(["Purchase Count"], ascending = False).style.format({"Average Purchasing Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}", "Average Total Purchase / Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [233]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 99]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
pd.cut(purchase_data["Age"], bins, labels=group_names).head()
purchase_data["Age Demo"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
age_group = purchase_data.groupby("Age Demo")
total_age_ct = age_group.nunique()["SN"]

age_demo = pd.DataFrame({"Total Count": total_age_ct,"Percentage of Players": ((total_age_ct / player_ct) * 100)})

age_demo.style.format({"Percentage of Players":"{:.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [237]:
total_purchase_byage = age_group["Purchase ID"].count()

purchasing_analysis_age = pd.DataFrame({"Purchase Count": total_purchase_byage,
                            "Average Purchasing Price": (age_group["Price"].mean()),
                             "Total Purchase Value": (age_group["Price"].sum()),
                             "Average Total Purchase / Person": (purchase_value_byage / total_age_ct)})

purchasing_analysis_age.style.format({"Average Purchasing Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}", "Average Total Purchase / Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [236]:
top_spender_group = purchase_data.groupby(['SN'])
                        
top_spender_analysis = pd.DataFrame({"Purchase Count": (top_spender_group["Purchase ID"].count()),
                                "Average Purchasing Price": (top_spender_group["Price"].mean()),
                              "Total Purchase Value": (top_spender_group["Price"].sum())})
top_spender_analysis.sort_values(["Total Purchase Value"], ascending = False).head().style.format({"Average Purchasing Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [238]:
most_pop_group = purchase_data.groupby(['Item ID','Item Name'])
                           
top_spender_analysis = pd.DataFrame({"Purchase Count": (most_pop_group["Purchase ID"].count()),
                                "Item Price": (most_pop_group["Price"].mean()),
                              "Total Purchase Value": (most_pop_group["Price"].sum())})
top_spender_analysis.sort_values(["Purchase Count"], ascending = False).head().style.format({"Item Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [239]:
top_spender_analysis.sort_values(["Total Purchase Value"], ascending = False).head().style.format({"Item Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})